.btn {
	text-align: center;
	margin-top: 20px;
	button {
		font-family: 'Racing Sans One', cursive;
		background-color: #4f4f4f;
		border-radius: 20px;
		color: #ffffff;
		border: none;
		cursor: pointer;
		height: 100%;
		width: 120px;
		margin-left: 10px;
		font-size: 22px;
		appearance: none;
	}
}
