@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
@import '~normalize.css';
.header {
	text-align: center;
	h1 {
		font-size: 64px;
		margin-bottom: 0;
	}
}
.font {
	font-family: 'Racing Sans One', cursive;
	color: #ffffff;
}
.line-one {
	margin: 0 auto;
	margin-top: 10px;
	border: 1px solid #ffffff;
	width: 400px;
	text-align: center;
}
.line-two {
	margin: 0 auto;
	margin-top: 30px;
	border: 1px solid #ffffff;
	width: 800px;
	text-align: center;
}
.input-block {
	display: flex;
	justify-content: center;
	margin-top: 80px;
}

.input input {
	padding: 0.5rem;
	border-radius: 20px;
	border: 1px solid #ccc;
	width: 480px;
	outline: none;
}

.btn-send button {
	font-family: 'Racing Sans One', cursive;
	background-color: #4f4f4f;
	border-radius: 20px;
	color: #ffffff;
	border: none;
	cursor: pointer;
	height: 100%;
	width: 120px;
	margin-left: 10px;
	font-size: 22px;
	appearance: auto;
}
